<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compic</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <button>Назад</button>
        <button>Выход</button>
    </header>
    <div class="machine">
        <div class="items-bar">
            <select>
                <option value="">Материнские платы</option>
                <option value="">Блоки питания</option>
                <option value="">Процессоры</option>
                <option value="">Оперативная память</option>
                <option value="">Накопители информации</option>
                <option value="">Видеокарты</option>
            </select>
            <div class="positions">
                <div class="position">
                    <p>Name</p>
                    <div class="image">
                        <img src="img/item.png" alt="item">
                    </div>
                </div>
                <div class="position">
                    <p>Name</p>
                    <div class="image">
                        <img src="img/item.png" alt="item">
                    </div>
                </div>
                <div class="position">
                    <p>Name</p>
                    <div class="image">
                        <img src="img/item.png" alt="item">
                    </div>
                </div>
            </div>
        </div>
        <div class="pc">
            <div class="shema">
                <div class="component motherboard"></div>
                <div class="component powersupply"></div>
                <div class="component processor"></div>
                <div class="component rammemory"></div>
                <div class="component storage"></div>
                <div class="component graphiccard"></div>
            </div>
            <div class="info">
                <div class="info-left">
                    <h3>Материнская плата</h3>
                    <ul>
                        <li>Характеристика 1</li>
                        <li>Характеристика 2</li>
                        <li>Характеристика 3</li>
                    </ul>
                    <h3>Блок питания</h3>
                    <ul>
                        <li>Характеристика 1</li>
                        <li>Характеристика 2</li>
                        <li>Характеристика 3</li>
                    </ul>
                    <h3>Процессор</h3>
                    <ul>
                        <li>Характеристика 1</li>
                        <li>Характеристика 2</li>
                        <li>Характеристика 3</li>
                    </ul>
                </div>
                <div class="info-right">
                    <h3>Оперативная память</h3>
                    <ul>
                        <li>Характеристика 1</li>
                        <li>Характеристика 2</li>
                        <li>Характеристика 3</li>
                    </ul>
                    <h3>Накопитель информации</h3>
                    <ul>
                        <li>Характеристика 1</li>
                        <li>Характеристика 2</li>
                        <li>Характеристика 3</li>
                    </ul>
                    <h3>Видеокарта</h3>
                    <ul>
                        <li>Характеристика 1</li>
                        <li>Характеристика 2</li>
                        <li>Характеристика 3</li>
                    </ul>
                </div>
            </div>
            <div class="buttons">
                <button>Добавить</button>
                <button>Сохранить</button>
                <button>Удалить</button>
            </div>
        </div>
    </div>
</body>

</html>