<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compic</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <button>Назад</button>
        <button>Выход</button>
    </header>
    <nav>
        <a href="#">Сборки ПК</a>
        <a href="#">Материнские платы</a>
        <a href="#">Блоки питания</a>
        <a href="#">Процессоры</a>
        <a href="#">Оперативная память</a>
        <a href="#">Накопители информации</a>
        <a href="#">Видеокарты</a>
    </nav>
    <div class="items">
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
        <div class="item">
            <p>Name</p>
            <div class="image">
                <img src="img/item.png" alt="item">
            </div>
        </div>
    </div>
</body>

</html>