body {
    font-family: 'Ariel', sans-serif;
    background-color: gainsboro;
}

Main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    border-radius: 10px;
    width: 250px;
    background-color: #fff;
    margin: 40px;
    padding: 8px;
}

img {
    border-radius: 9px;
}

h1 {
    display: flex;
    color: #1c0a1b;
}

p {
    display: flex;
    color: #543953;
}

.btn {
    display: flex;
    justify-content: space-around;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 46%);
    color: #fff;
    padding: 14 20;


    border-radius: 17px;
}

a {
    text-decoration: none;
}

}
